<nav>
  <div class="site-title">
    <h1>BlogSite</h1>
  </div>
  <ul>
    <li><a href="/">All Blogs</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>