<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content">
    <h1 class="not-found">ERROR 404: Not Found</h1>
    <p><%= content %></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>