<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>A normal blog posting website to create, edit or delete blogs.</p>
    <br>
    <p><strong>Creator : </strong><a href="https://www.github.com/akshatmittal2002">Akshat Mittal</a></p>
    <p><strong>Contribute Here : </strong><a href="https://www.github.com/akshatmittal2002/blog-website">GitHub</a></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>